<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/staticFiles/main.css' />
  </head>
  <body>
    <h1>Object Detection Application using python and Flask</h1>
    <p>Detect object in image</p>
 
<!-- <img src= "staticFiles/uploads/1.png" /> -->
<!-- <img src="{{url_for('staticFiles', filename='user_image')}}" /> -->
<img src = "{{url_for('static', filename='1.png')}}" />
 
<br>
    <br>
  <form action="/detect_object" target="_blank">
        <input type="submit" value="Detect Object" />
    </form>
    </body>
</html>